<div class="form-group">
<form action="." method="post">
  <label class="control-label" for="name">Name</label>
  <input class="form-control" id="name" name="name" type="text" value="<%= @region.name %>">
  <br>
  <br>

  <button class="btn btn-default">Create Region</button>
</form>
</div>